<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <?include SDKVariables.wxi ?>
  
  <Product Id="38435726-4627-4F4A-A330-4C6B8999AA22"
           Name="$(var.SDKName) for $(var.FrameworkName)" Manufacturer="Alex F. Sherman and Codeplex Community" Language="!(loc.Language)"
           Version="$(var.SDKVersion).$(var.SDKBuild).$(var.SDKRevision)" UpgradeCode="90DBE047-293B-4D8D-9F49-BDE9D943C591">
    
    <Package InstallerVersion="200" Platform="$(sys.BUILDARCH)"
             InstallPrivileges="elevated" InstallScope="perMachine"
             Compressed="yes"/>
    
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="!(loc.DowngradeError)"/>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    
    <!-- Features -->
      
    <Feature Id="Elysium" Title="!(loc.FeatureTitle_Elysium)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Absent="disallow">
      <ComponentGroupRef Id="Prerequisites"/>
      <ComponentGroupRef Id="Prerequisites.Resources.En"/>
      <ComponentGroupRef Id="Prerequisites.Resources.Ru"/>
      <ComponentGroupRef Id="Core"/>
      <ComponentRef Id="VisualStudio.Registration"/>
      <ComponentGroupRef Id="VisualStudio.Templates.Registration"/>
    </Feature>
    
    <Feature Id="Notifications" Title="!(loc.FeatureTitle_Notifications)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Notifications"/>
    </Feature>
    
    <Feature Id="Documentation.En" Title="!(loc.FeatureTitle_Documentation.En)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Documentation.En"/>
    </Feature>
    
    <Feature Id="Documentation.Ru" Title="!(loc.FeatureTitle_Documentation.Ru)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Documentation.Ru"/>
    </Feature>
    
    <Feature Id="Test" Title="!(loc.FeatureTitle_Test)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Test"/>
    </Feature>

    <!-- Prerequisites components -->
    
    <ComponentGroup Id="Prerequisites">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing"/>
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Design"/>
    </ComponentGroup>
    
    <ComponentGroup Id="Prerequisites.Resources.En">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.En"/>
    </ComponentGroup>

    <ComponentGroup Id="Prerequisites.Resources.Ru">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Resources.Ru"/>
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.Ru"/>
    </ComponentGroup>

    <!-- Elysium components -->
    
    <ComponentGroup Id="Core">
      <ComponentRef Id="Core"/>
      <ComponentRef Id="Core.Documentation"/>
      <ComponentRef Id="Core.CodeContracts"/>
    </ComponentGroup>

    <!-- Notifications components -->
    
    <ComponentGroup Id="Notifications">
      <ComponentRef Id="Notifications"/>
      <ComponentRef Id="Notifications.Server"/>
      <ComponentRef Id="Notifications.Documentation"/>
      <ComponentRef Id="Notifications.CodeContracts"/>
    </ComponentGroup>

    <!-- Documentation components -->
    
    <ComponentGroup Id="Documentation.En">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Documentation"/>
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.En"/>
      <ComponentRef Id="Core.Documentation.En.CHM"/>
      <ComponentRef Id="Core.Documentation.En.XML"/>
      <ComponentRef Id="Notifications.Documentation.En"/>
      <ComponentRef Id="Documentation.En.Shortcut.Registration"/>
    </ComponentGroup>
    
    <ComponentGroup Id="Documentation.Ru">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.Ru"/>
      <ComponentRef Id="Core.Documentation.Ru.CHM"/>
      <ComponentRef Id="Core.Documentation.Ru.XML"/>
      <ComponentRef Id="Notifications.Documentation.Ru"/>
      <ComponentRef Id="Documentation.Ru.Shortcut.Registration"/>
    </ComponentGroup>

    <!-- Visual Studio Templates components -->
    
    <ComponentGroup Id="VisualStudio.Templates.Registration">
      <ComponentRef Id="VisualStudio.2012.ProjectTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.ProjectTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2012.ItemTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.ItemTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.Registration.Ru"/>
    </ComponentGroup>

    <!-- Test app components -->
    
    <ComponentGroup Id="Test">
      <ComponentRef Id="Test.Microsoft.Expression.Drawing"/>
      <ComponentRef Id="Test.Elysium"/>
      <ComponentRef Id="Test.Elysium.Notifications"/>
      <ComponentRef Id="Test"/>
      <ComponentRef Id="Test.Shortcut.Registration"/>
    </ComponentGroup>

    <!-- Files and folders -->
    
    <Media Id="1" Cabinet="Elysium.cab" EmbedCab="yes" CompressionLevel="high"/>

    <!-- Visual Studio 2012 properties and actions -->

    <PropertyRef Id="VS2012DEVENV"/>
    <PropertyRef Id="VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS2012_PROJECTTEMPLATES_DIR"/>
    <PropertyRef Id="VS2012_ITEMTEMPLATES_DIR"/>
    <Property Id="VS2012PROFESSIONAL_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2012PROFESSIONAL_IDE_LCID_1033_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\professional\1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012PREMIUM_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2012PREMIUM_IDE_LCID_1033_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\premium\1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012ULTIMATE_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2012ULTIMATE_IDE_LCID_1033_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\ultimate\1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012PROFESSIONAL_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2012PROFESSIONAL_IDE_LCID_1049_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\professional\1049" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012PREMIUM_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2012PREMIUM_IDE_LCID_1049_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\premium\1049" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012ULTIMATE_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2012ULTIMATE_IDE_LCID_1049_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\ultimate\1049" Type="raw" Win64="no"/>
    </Property>
    
    <CustomActionRef Id="VS2012InstallVSTemplates"/>

    <!-- Visual Studio Express 2012 for Windows Desktop properties and actions -->

    <Property Id="VS2012WINDESKTOPEXPRESS_IDE" Secure="yes">
        <ComponentSearch Id="SearchForVS2012WinDesktopExpressIdeComponent" Guid="55C6B9D6-A824-4AFC-8D08-20E581B6F42C" Type="file">
            <FileSearch Id="VS2012WinDesktopExpressIde" Name="wdexpress.exe" />
        </ComponentSearch>
    </Property>
    <Property Id="VS2012WINDESKTOPEXPRESS_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS2012WinDesktopExpressDevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS2012WinDesktopExpressForProjectTemplatesSearch" Path="VCSExpress" Depth="1">
          <DirectorySearch Id="VS2012WinDesktopExpressProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    <Property Id="VS2012WINDESKTOPEXPRESS_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS2012WinDesktopExpressDevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS2012WinDesktopExpressForItemTemplatesSearch" Path="VCSExpress" Depth="1">
          <DirectorySearch Id="VS2012WinDesktopExpressItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    <Property Id="VS2012WINDESKTOPEXPRESS_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2012WINDESKTOPEXPRESS_IDE_LCID_1033_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\wdexpress\Servicing\11.0\coremsi\1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012WINDESKTOPEXPRESS_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2012WINDESKTOPEXPRESS_IDE_LCID_1049_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\wdexpress\Servicing\11.0\coremsi\1049" Type="raw" Win64="no"/>
    </Property>

    <CustomAction Id="VS2012WinDesktopExpressInstallVSTemplates" Property="VS2012WINDESKTOPEXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    
    <!-- Conditions -->
    
    <Condition Message="!(loc.VisualStudioError)">
      <![CDATA[Installed OR VS2012DEVENV OR VS2012WINDESKTOPEXPRESS_IDE]]>
    </Condition>
    
    <!-- Custom actions -->
    
    <CustomAction Id="OverwriteWixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]" Execute="immediate"/>
      
    <InstallExecuteSequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder"/>
      <Custom Action="VS2012InstallVSTemplates" Before="InstallFinalize">
        <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND (VS2012_PROJECTTEMPLATES_DIR OR VS2012_ITEMTEMPLATES_DIR)]]>
      </Custom>
      <Custom Action="VS2012WinDesktopExpressInstallVSTemplates" Before="InstallFinalize">
        <![CDATA[VS2012WINDESKTOPEXPRESS_IDE AND (VS2012WINDESKTOPEXPRESS_PROJECTTEMPLATES_DIR OR VS2012WINDESKTOPEXPRESS_ITEMTEMPLATES_DIR)]]>
      </Custom>
    </InstallExecuteSequence>

    <!-- UI -->
    
    <UIRef Id="WixUI_Advanced"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
      
    <UI>
      <ProgressText Action="VS2012InstallVSTemplates" Template="[1]">!(loc.VisualStudioTemplatesRegistration)</ProgressText>
      <ProgressText Action="VS2012WinDesktopExpressInstallVSTemplates" Template="[1]">!(loc.VisualStudioTemplatesRegistration)</ProgressText>
      <ProgressText Action="NetFxScheduleNativeImage" Template="[1]">!(loc.NativeImagesGeneration)</ProgressText>
      <ProgressText Action="NetFxScheduleNativeImage_x64" Template="[1]">!(loc.NativeImagesGeneration)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageInstall" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageInstall_64" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitInstall" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitInstall_64" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageUninstall" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageUninstall_64" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitUninstall" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitUninstall_64" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
    </UI>

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp"/>
    <WixVariable Id="WixUIInfoIco" Value="WixUIInfoIco.ico"/>
    <WixVariable Id="WixUINewIco" Value="WixUINewIco.ico"/>
    <WixVariable Id="WixUIUpIco" Value="WixUIUpIco.ico"/>
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
    
    <InstallUISequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder"/>
    </InstallUISequence>
    
    <!-- Directories -->
    
    <Property Id="ApplicationFolderName" Value="$(var.SDKName)\$(var.FrameworkName)\$(var.SDKVersion)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- Visual Studio 2012 Templates -->
      
      <Directory Id="VS2012_PROJECTTEMPLATES_DIR">
        <Directory Id="VS2012ProjectTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012ProjectTemplatesCSharpWindowsDir" Name="Windows">
            <Directory Id="VS2012ProjectTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012ProjectTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2012_ITEMTEMPLATES_DIR">
        <Directory Id="VS2012ItemTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012ItemTemplatesCSharpWPFDir" Name="WPF">
            <Directory Id="VS2012ItemTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012ItemTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Visual Studio Express 2012 for Windows Desktop Templates -->
      
      <Directory Id="VS2012WINDESKTOPEXPRESS_PROJECTTEMPLATES_DIR">
        <Directory Id="VS2012WinDesktopExpressProjectTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012WinDesktopExpressProjectTemplatesCSharpWindowsDir" Name="Windows">
            <Directory Id="VS2012WinDesktopExpressProjectTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012WinDesktopExpressProjectTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2012WINDESKTOPEXPRESS_ITEMTEMPLATES_DIR">
        <Directory Id="VS2012WinDesktopExpressItemTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012WinDesktopExpressItemTemplatesCSharpWPFDir" Name="WPF">
            <Directory Id="VS2012WinDesktopExpressItemTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012WinDesktopExpressItemTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Binaries -->
      
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProgramFilesDir" Name="$(var.SDKName)">
          <Directory Id="InstallNETFXDir" Name="$(var.FrameworkName)">
            <Directory Id="APPLICATIONFOLDER" Name="$(var.SDKVersion)">
              <Directory Id="InstallCodeContractsDir" Name="CodeContracts"/>
              <Directory Id="InstallDesignDir" Name="Design">
                <Directory Id="InstallDesignResourcesEnDir" Name="en"/>
                <Directory Id="InstallDesignResourcesRuDir" Name="ru"/>
              </Directory>
              <Directory Id="InstallResourcesEnDir" Name="en"/>
              <Directory Id="InstallResourcesRuDir" Name="ru"/>
              <Directory Id="InstallTestDir" Name="Test"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Shortcuts -->
        
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataMicrosoftDir" Name="Microsoft">
          <Directory Id="CommonAppDataMicrosoftWindowsDir" Name="Windows">
            <Directory Id="AllUsersStartMenuDir" Name="Start Menu">
              <Directory Id="AllUsersStartMenuProgramsDir" Name="Programs">
                <Directory Id="AllUsersShortcutsSDKDir" Name="$(var.SDKName)">
                  <Directory Id="AllUsersShortcutsNETFXDir" Name="$(var.FrameworkName)">
                    <Directory Id="AllUsersShortcutsDir" Name="$(var.SDKVersion)"/>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    
    </Directory>

    <DirectoryRef Id="APPLICATIONFOLDER">
      
      <!-- Prerequisites -->
        
      <Component Id="Prerequisites.Microsoft.Expression.Drawing" Guid="FD38090E-8FF9-40BF-B91B-C1B582076E67">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Documentation" Guid="FC720AEF-A2C2-4062-8B67-14DEAA4DB971">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      
      <!-- Core -->
        
      <Component Id="Core" Guid="2FFFA2FF-5AA7-418F-B752-658D6D894FC5">
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Core.Documentation" Guid="D502D1EE-20B7-49B9-A2FC-973A49ABBE98">
        <File Source="$(var.DocumentationFolder)\en\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      
      <!-- Notifications -->
        
      <Component Id="Notifications" Guid="673EA5AB-5190-415A-AFF8-69D3A1F95E52">
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.Notifications.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.Notifications.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Notifications.Documentation" Guid="686AE6A7-7AA2-4A76-9745-48362FA8AEA5">
        <File Source="$(var.DocumentationFolder)\en\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Server" Guid="EE69A470-5ED2-4585-8D1E-D1C6B5728648">
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Notifications.Server.exe" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Notifications.Server.exe.config" Checksum="yes" KeyPath="no" Vital="yes"/>
        <ServiceInstall Type="ownProcess"
                        Vital="yes"
                        Name="ElysiumNotifications-v1.5.19.0-v4.5"
                        DisplayName="Elysium Notifications"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Interactive="no"/>
        <ServiceControl Id="ElysiumNotifications" Name="ElysiumNotifications-v1.5.19.0-v4.5" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes"/>
      </Component>
      
      <!-- Visual Studio registration -->
        
      <Component Id="VisualStudio.Registration" Guid="BBA30D8F-F171-4238-8EB9-EE78379A7AD3">
        <?if $(sys.BUILDARCH) = x64 ?>
          <RegistryValue Root="HKLM" Key="SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v4.5.50709\AssemblyFoldersEx\Elysium" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes"/>
        <?else ?>
          <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.5.50709\AssemblyFoldersEx\Elysium" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes"/>
        <?endif ?>
      </Component>
    
    </DirectoryRef>
    
    <!-- Design -->
      
    <DirectoryRef Id="InstallDesignDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Design" Guid="E1697476-324E-4153-9465-959CBD9D4D2C">
        <File Source="$(var.AssemblyDependenciesFolder)\Design\Microsoft.Expression.Drawing.Design.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="InstallDesignResourcesEnDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.En" Guid="0D733DC5-6F15-4E62-9FA1-DC0C2CA6622B">
        <File Id="Microsoft.Expression.Drawing.Design.resources.en.dll" Source="$(var.AssemblyDependenciesFolder)\Design\en\Microsoft.Expression.Drawing.Design.resources.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="InstallDesignResourcesRuDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.Ru" Guid="C26E1E2E-6D18-421F-9EF2-F09B274F8E8B">
        <File Id="Microsoft.Expression.Drawing.Design.resources.ru.dll" Source="$(var.AssemblyDependenciesFolder)\Design\ru\Microsoft.Expression.Drawing.Design.resources.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Code Contracts -->
      
    <DirectoryRef Id="InstallCodeContractsDir">
      <Component Id="Core.CodeContracts" Guid="0D160F9D-B620-4F7B-A825-34E5C8D60D93">
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Contracts.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Contracts.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Notifications.CodeContracts" Guid="98DAAEDF-6DE7-4225-AE61-20BF75F098CA">
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Notifications.Contracts.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Notifications.Contracts.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
    
    </DirectoryRef>
    
    <!-- English resources -->
    
    <DirectoryRef Id="InstallResourcesEnDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.En" Guid="A5FBD29C-73DC-4619-A4F7-A022BB279563">
        <File Id="Microsoft.Expression.Drawing.en.xml" Source="$(var.AssemblyDependenciesFolder)\en\Microsoft.Expression.Drawing.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      <Component Id="Core.Documentation.En.CHM" Guid="B888A2AB-7388-4DDA-B3B0-FA4F48A589E4">
        <File Id="Elysium.en.chm"  Source="$(var.DocumentationFolder)\en\Elysium.chm" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Core.Documentation.En.XML" Guid="3546A24B-419F-4E7D-BF00-FAA80C80D880">
        <File Id="Elysium.en.xml" Source="$(var.DocumentationFolder)\en\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Documentation.En" Guid="5ACDCD1E-DD5A-47D3-9DAE-A698449F3557">
        <File Id="Elysium.Notifications.en.xml" Source="$(var.DocumentationFolder)\en\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Documentation.En.Shortcut.Registration" Guid="06784B3F-9A9F-4C67-A041-BD762D24C231">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Documentation.En.Shortcut"
                  Name="Elysium English documentation"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallResourcesEnDir]en\Elysium.chm"/>
        <RemoveFolder Id="AllUsersShortcutsDir_FD3DE62423744FA09B2FF8A11DD58370" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Documentation" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Russian resources -->
    
    <DirectoryRef Id="InstallResourcesRuDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.Ru" Guid="21278768-8131-4A49-94BA-6AD67394F096">
        <File Id="Microsoft.Expression.Drawing.ru.xml" Source="$(var.AssemblyDependenciesFolder)\ru\Microsoft.Expression.Drawing.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Resources.Ru" Guid="106FC891-60D0-416C-9146-0463FD7AC0CD">
        <File Id="Microsoft.Expression.Drawing.resources.ru.dll" Source="$(var.AssemblyDependenciesFolder)\ru\Microsoft.Expression.Drawing.resources.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Core.Documentation.Ru.CHM" Guid="8344C2B8-7D1A-4282-AA87-2C0404183223">
        <File Id="Elysium.ru.chm"  Source="$(var.DocumentationFolder)\ru\Elysium.chm" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Core.Documentation.Ru.XML" Guid="61999E6B-DA53-4F70-81E7-221DA07157D8">
        <File Id="Elysium.ru.xml" Source="$(var.DocumentationFolder)\ru\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Documentation.Ru" Guid="31F7F49E-71EE-4D60-A0CB-8166F1EA1D0F">
        <File Id="Elysium.Notifications.ru.xml"  Source="$(var.DocumentationFolder)\ru\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Documentation.Ru.Shortcut.Registration" Guid="97B171CC-9F6C-4193-9847-334D05673D49">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Documentation.Ru.Shortcut"
                  Name="Elysium Russian documentation"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallResourcesRuDir]Elysium.chm"/>
        <RemoveFolder Id="AllUsersShortcutsDir_2D019D8839F24D77AB6FF17BB8F57061" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Documentation" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2012 Project templates -->
    
    <DirectoryRef Id="VS2012ProjectTemplatesEnDir">
      <Component Id="VisualStudio.2012.ProjectTemplates.Registration.En" Guid="AFD1DB87-D4F2-4BE6-B835-8DF8374C40E0">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_PROJECTTEMPLATES_DIR AND (VS2012PROFESSIONAL_IDE_LCID_1033 OR VS2012PREMIUM_IDE_LCID_1033 OR VS2012ULTIMATE_IDE_LCID_1033)]]>
        </Condition>
        <File Id="VisualStudio.2012.ProjectTemplates.CSharp.1033" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012ProjectTemplatesRuDir">
      <Component Id="VisualStudio.2012.ProjectTemplates.Registration.Ru" Guid="EB57E18E-C092-4B8A-9DD9-67892FCC51B5" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_PROJECTTEMPLATES_DIR AND (VS2012PROFESSIONAL_IDE_LCID_1049 OR VS2012PREMIUM_IDE_LCID_1049 OR VS2012ULTIMATE_IDE_LCID_1049)]]>
        </Condition>
        <File Id="VisualStudio.2012.ProjectTemplates.CSharp.1049" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2012 Item templates -->
    
    <DirectoryRef Id="VS2012ItemTemplatesEnDir">
      <Component Id="VisualStudio.2012.ItemTemplates.Registration.En" Guid="E60EECD4-D7EA-4C0F-874E-54413E62F986" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_ITEMTEMPLATES_DIR AND (VS2012PROFESSIONAL_IDE_LCID_1033 OR VS2012PREMIUM_IDE_LCID_1033 OR VS2012ULTIMATE_IDE_LCID_1033)]]>
        </Condition>
        <File Id="VisualStudio.2012.ItemTemplates.CSharp.1033" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012ItemTemplatesRuDir">
      <Component Id="VisualStudio.2012.ItemTemplates.Registration.Ru" Guid="04DF139C-9B02-4A74-91AD-07AB0A2B8963" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_ITEMTEMPLATES_DIR AND (VS2012PROFESSIONAL_IDE_LCID_1049 OR VS2012PREMIUM_IDE_LCID_1049 OR VS2012ULTIMATE_IDE_LCID_1049)]]>
        </Condition>
        <File Id="VisualStudio.2012.ItemTemplates.CSharp.1049" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Visual Studio Express 2012 for Windows Desktop Project templates -->

    <DirectoryRef Id="VS2012WinDesktopExpressProjectTemplatesEnDir">
      <Component Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.Registration.En" Guid="08D74CE9-8E0C-448C-95DD-2D8FA8A924C0" Transitive="yes">
        <Condition>
          <![CDATA[VS2012WINDESKTOPEXPRESS_IDE AND VS2012WINDESKTOPEXPRESS_PROJECTTEMPLATES_DIR AND VS2012WINDESKTOPEXPRESS_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.1033" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012WinDesktopExpressProjectTemplatesRuDir">
      <Component Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.Registration.Ru" Guid="C9A9EE62-0112-42B1-BBE0-07FC4357DCDE" Transitive="yes">
        <Condition>
          <![CDATA[VS2012WINDESKTOPEXPRESS_IDE AND VS2012WINDESKTOPEXPRESS_PROJECTTEMPLATES_DIR AND VS2012WINDESKTOPEXPRESS_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2012.Express.WinDesktop.ProjectTemplates.1049" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Visual Studio Express 2012 for Windows Desktop Item templates -->

    <DirectoryRef Id="VS2012WinDesktopExpressItemTemplatesEnDir">
      <Component Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.Registration.En" Guid="8A412EBE-5FE9-463A-8428-B5FFAEEB19EE" Transitive="yes">
        <Condition>
          <![CDATA[VS2012WINDESKTOPEXPRESS_IDE AND VS2012WINDESKTOPEXPRESS_ITEMTEMPLATES_DIR AND VS2012WINDESKTOPEXPRESS_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.1033" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012WinDesktopExpressItemTemplatesRuDir">
      <Component Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.Registration.Ru" Guid="D9EF075B-190A-430B-9968-17E2DE84F46A" Transitive="yes">
        <Condition>
          <![CDATA[VS2012WINDESKTOPEXPRESS_IDE AND VS2012WINDESKTOPEXPRESS_ITEMTEMPLATES_DIR AND VS2012WINDESKTOPEXPRESS_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2012.Express.WinDesktop.ItemTemplates.1049" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Test app -->
      
    <DirectoryRef Id="InstallTestDir">
      <Component Id="Test.Microsoft.Expression.Drawing" Guid="25495F8A-DED2-4E12-B8CF-A9B3B19FC5AB">
        <File Id="Microsoft.Expression.Drawing.Test.dll" Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Elysium" Guid="D2998D78-3D8E-4EDE-ABF1-1E393B9B4F44">
        <File Id="Elysium.Test.dll" Source="$(var.AnyCPUReleaseFolder)\Elysium.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Elysium.Notifications" Guid="9E952694-DEEE-4757-AAF0-4EB74062A4D2">
        <File Id="Elysium.Notifications.Test.dll" Source="$(var.AnyCPUReleaseFolder)\Elysium.Notifications.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test" Guid="AA626E7F-515E-48E8-AFDE-22F3AC9F19E0">
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Test.exe" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Test.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Test.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Shortcut.Registration" Guid="BE45CA70-98D9-4B19-A1D4-40553DE4B5E0">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Test.Shortcut"
                  Name="Elysium Test app"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallTestDir]Elysium.Test.exe"/>
        <RemoveFolder Id="AllUsersShortcutsDir_F933CAE6F9624A7F8821A37960EEFD47" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Test app" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  
  </Product>

</Wix>