<#@ template language="C#" hostSpecific="true" debug="true" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System.Core" #>
<#@ include file="..\..\Include\security.ttinclude" #>
<#@ include file="..\..\Include\Versions.ttinclude" #>
using System;
using System.Reflection;
using System.Resources;
using System.Runtime.InteropServices;
using System.Security;
using System.Windows;

using Elysium;

[assembly: AssemblyTitle("Elysium.Test.exe")]
[assembly: AssemblyDescription("Test WPF Metro style application")]
[assembly: AssemblyProduct("Elysium")]
[assembly: AssemblyCopyright("<#= Copyright #>")]

[assembly: SecurityRules(SecurityRuleSet.Level2)]

[assembly: ComVisible(false)]
[assembly: CLSCompliant(false)]

[assembly: ThemeInfo(ResourceDictionaryLocation.None, ResourceDictionaryLocation.SourceAssembly)]
[assembly: ResourceInfo(ResourceMode.Static)]

[assembly: NeutralResourcesLanguage("en-us")]

#if NETFX4
[assembly: AssemblyVersion("<#= Versions.NETFX4.Test #>")]
[assembly: AssemblyFileVersion("<#= Versions.NETFX4.Test #>")]
#elif NETFX45
[assembly: AssemblyVersion("<#= Versions.NETFX45.Test #>")]
[assembly: AssemblyFileVersion("<#= Versions.NETFX45.Test #>")]
#endif
[assembly: AssemblyInformationalVersion("<#= Version #>")]
