<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <?include SDKVariables.wxi ?>
  
  <Product Id="C0866E3A-961B-46FA-884E-415FA7B8BDC6"
           Name="$(var.SDKName) for $(var.FrameworkName)" Manufacturer="Alex F. Sherman and Codeplex Community" Language="!(loc.Language)"
           Version="$(var.SDKVersion).$(var.SDKBuild).$(var.SDKRevision)" UpgradeCode="DBFAF4C9-7352-483C-B6A2-34C6C1D0F1E0">
    
    <Package InstallerVersion="200" Platform="$(sys.BUILDARCH)"
             InstallPrivileges="elevated" InstallScope="perMachine"
             Compressed="yes"/>
    
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="!(loc.DowngradeError)"/>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    
    <!-- Features -->
      
    <Feature Id="Elysium" Title="!(loc.FeatureTitle_Elysium)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Absent="disallow">
      <ComponentGroupRef Id="Prerequisites"/>
      <ComponentGroupRef Id="Prerequisites.Resources.En"/>
      <ComponentGroupRef Id="Core"/>
      <ComponentRef Id="VisualStudio.Registration"/>
      <ComponentGroupRef Id="VisualStudio.Templates.Registration"/>
    </Feature>
    
    <Feature Id="Notifications" Title="!(loc.FeatureTitle_Notifications)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Notifications"/>
    </Feature>
    
    <Feature Id="Documentation.En" Title="!(loc.FeatureTitle_Documentation.En)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Documentation.En"/>
    </Feature>
    
    <Feature Id="Documentation.Ru" Title="!(loc.FeatureTitle_Documentation.Ru)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Documentation.Ru"/>
    </Feature>
    
    <Feature Id="Test" Title="!(loc.FeatureTitle_Test)" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Level="2">
      <ComponentGroupRef Id="Test"/>
    </Feature>

    <!-- Prerequisites components -->
    
    <ComponentGroup Id="Prerequisites">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing"/>
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Design"/>
      <ComponentRef Id="Prerequisites.Microsoft.Windows.Shell"/>
    </ComponentGroup>
    
    <ComponentGroup Id="Prerequisites.Resources.En">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.En"/>
    </ComponentGroup>

    <!-- Elysium components -->
    
    <ComponentGroup Id="Core">
      <ComponentRef Id="Core"/>
      <ComponentRef Id="Core.Documentation"/>
      <ComponentRef Id="Core.CodeContracts"/>
    </ComponentGroup>

    <!-- Notifications components -->
    
    <ComponentGroup Id="Notifications">
      <ComponentRef Id="Notifications"/>
      <ComponentRef Id="Notifications.Server"/>
      <ComponentRef Id="Notifications.Documentation"/>
      <ComponentRef Id="Notifications.CodeContracts"/>
    </ComponentGroup>

    <!-- Documentation components -->
    
    <ComponentGroup Id="Documentation.En">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Documentation"/>
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.En"/>
      <ComponentRef Id="Prerequisites.Microsoft.Windows.Shell.Documentation"/>
      <ComponentRef Id="Core.Documentation.En.CHM"/>
      <ComponentRef Id="Core.Documentation.En.XML"/>
      <ComponentRef Id="Notifications.Documentation.En"/>
      <ComponentRef Id="Documentation.En.Shortcut.Registration"/>
    </ComponentGroup>
    
    <ComponentGroup Id="Documentation.Ru">
      <ComponentRef Id="Core.Documentation.Ru.CHM"/>
      <ComponentRef Id="Core.Documentation.Ru.XML"/>
      <ComponentRef Id="Notifications.Documentation.Ru"/>
      <ComponentRef Id="Documentation.Ru.Shortcut.Registration"/>
    </ComponentGroup>

    <!-- Visual Studio Templates components -->
    
    <ComponentGroup Id="VisualStudio.Templates.Registration">
      <ComponentRef Id="VisualStudio.2010.ProjectTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2010.ProjectTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2010.ItemTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2010.ItemTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2010.Express.CSharp.ItemTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2010.Express.CSharp.ItemTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2012.ProjectTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.ProjectTemplates.Registration.Ru"/>
      <ComponentRef Id="VisualStudio.2012.ItemTemplates.Registration.En"/>
      <ComponentRef Id="VisualStudio.2012.ItemTemplates.Registration.Ru"/>
    </ComponentGroup>

    <!-- Test app components -->
    
    <ComponentGroup Id="Test">
      <ComponentRef Id="Test.Microsoft.Expression.Drawing"/>
      <ComponentRef Id="Test.Microsoft.Windows.Shell"/>
      <ComponentRef Id="Test.Elysium"/>
      <ComponentRef Id="Test.Elysium.Notifications"/>
      <ComponentRef Id="Test"/>
      <ComponentRef Id="Test.Shortcut.Registration"/>
    </ComponentGroup>

    <!-- Files and folders -->
    
    <Media Id="1" Cabinet="Elysium.cab" EmbedCab="yes" CompressionLevel="high"/>

    <!-- Visual Studio properties and actions -->
    
    <PropertyRef Id="VS2010DEVENV"/>
    <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS2010_PROJECTTEMPLATES_DIR"/>
    <PropertyRef Id="VS2010_ITEMTEMPLATES_DIR"/>
    <Property Id="VS2010_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2010_IDE_LCID_1033_SEARCH" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber" Name="1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2010_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2010_IDE_LCID_1049_SEARCH" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber" Name="1049" Type="raw" Win64="no"/>
    </Property>

    <CustomActionRef Id="VS2010InstallVSTemplates"/>
    
    <PropertyRef Id="VCSHARP2010EXPRESS_IDE"/>
    <Property Id="VCSHARP2010EXPRESS_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VCSHARP2010EXPRESS_PROJECTTEMPLATES_SEARCH" Root="HKLM" Key="Software\Microsoft\VCSExpress\10.0\VSTemplate\Project" Name="UserFolder" Type="directory" Win64="no"/>
    </Property>
    <Property Id="VCSHARP2010EXPRESS_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VCSHARP2010EXPRESS_ITEMTEMPLATES_SEARCH" Root="HKLM" Key="Software\Microsoft\VCSExpress\10.0\VSTemplate\Item" Name="UserFolder" Type="directory" Win64="no"/>
    </Property>
    <Property Id="VCSHARP2010EXPRESS_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VCSHARP2010EXPRESS_IDE_LCID_1033_SEARCH" Root="HKLM" Key="Software\Microsoft\VCSExpress\10.0\Setup\VS\BuildNumber" Name="1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VCSHARP2010EXPRESS_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VCSHARP2010EXPRESS_IDE_LCID_1049_SEARCH" Root="HKLM" Key="Software\Microsoft\VCSExpress\10.0\Setup\VS\BuildNumber" Name="1049" Type="raw" Win64="no"/>
    </Property>
    
    <CustomActionRef Id="VCSHARP2010InstallVSTemplates"/>
    
    <PropertyRef Id="VS2012DEVENV"/>
    <PropertyRef Id="VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS2012_PROJECTTEMPLATES_DIR"/>
    <PropertyRef Id="VS2012_ITEMTEMPLATES_DIR"/>
    <Property Id="VS2012_IDE_LCID_1033" Secure="yes">
      <RegistrySearch Id="VS2012_IDE_LCID_1033_SEARCH" Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0\Setup\VS\BuildNumber" Name="1033" Type="raw" Win64="no"/>
    </Property>
    <Property Id="VS2012_IDE_LCID_1049" Secure="yes">
      <RegistrySearch Id="VS2012_IDE_LCID_1049_SEARCH" Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0\Setup\VS\BuildNumber" Name="1049" Type="raw" Win64="no"/>
    </Property>
    
    <CustomActionRef Id="VS2012InstallVSTemplates"/>

    <!-- Conditions -->
    
    <Condition Message="!(loc.VisualStudioError)">
      <![CDATA[Installed OR VS2010DEVENV OR VCSHARP2010EXPRESS_IDE OR VS2012DEVENV]]>
    </Condition>
    
    <!-- Custom actions -->
    
    <CustomAction Id="OverwriteWixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]" Execute="immediate"/>
      
    <InstallExecuteSequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder"/>
      <Custom Action="VS2010InstallVSTemplates" Before="InstallFinalize">
        <![CDATA[VS2010DEVENV AND VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND (VS2010_PROJECTTEMPLATES_DIR OR VS2010_ITEMTEMPLATES_DIR)]]>
      </Custom>
      <Custom Action="VCSHARP2010InstallVSTemplates" Before="InstallFinalize">
        <![CDATA[VCSHARP2010EXPRESS_IDE AND (VCSHARP2010EXPRESS_IDE_PROJECTTEMPLATES_DIR OR VCSHARP2010EXPRESS_IDE_ITEMTEMPLATES_DIR)]]>
      </Custom>
      <Custom Action="VS2012InstallVSTemplates" Before="InstallFinalize">
        <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND (VS2012_PROJECTTEMPLATES_DIR OR VS2012_ITEMTEMPLATES_DIR)]]>
      </Custom>
    </InstallExecuteSequence>

    <!-- UI -->
    
    <UIRef Id="WixUI_Advanced"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
      
    <UI>
      <ProgressText Action="VS2010InstallVSTemplates" Template="[1]">!(loc.VisualStudioTemplatesRegistration)</ProgressText>
      <ProgressText Action="VCSHARP2010InstallVSTemplates" Template="[1]">!(loc.VisualStudioTemplatesRegistration)</ProgressText>
      <ProgressText Action="VS2012InstallVSTemplates" Template="[1]">!(loc.VisualStudioTemplatesRegistration)</ProgressText>
      <ProgressText Action="NetFxScheduleNativeImage" Template="[1]">!(loc.NativeImagesGeneration)</ProgressText>
      <ProgressText Action="NetFxScheduleNativeImage_x64" Template="[1]">!(loc.NativeImagesGeneration)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageInstall" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageInstall_64" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitInstall" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitInstall_64" Template="[1]">!(loc.NativeImagesInstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageUninstall" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageUninstall_64" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitUninstall" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
      <ProgressText Action="NetFxExecuteNativeImageCommitUninstall_64" Template="[1]">!(loc.NativeImagesUninstalling)</ProgressText>
    </UI>

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp"/>
    <WixVariable Id="WixUIInfoIco" Value="WixUIInfoIco.ico"/>
    <WixVariable Id="WixUINewIco" Value="WixUINewIco.ico"/>
    <WixVariable Id="WixUIUpIco" Value="WixUIUpIco.ico"/>
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
    
    <InstallUISequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder"/>
    </InstallUISequence>
    
    <!-- Directories -->
    
    <Property Id="ApplicationFolderName" Value="$(var.SDKName)\$(var.FrameworkName)\$(var.SDKVersion)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- Visual Studio 2010 Templates -->
      
      <Directory Id="VS2010_PROJECTTEMPLATES_DIR">
        <Directory Id="VS2010ProjectTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2010ProjectTemplatesCSharpWindowsDir" Name="Windows">
            <Directory Id="VS2010ProjectTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2010ProjectTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2010_ITEMTEMPLATES_DIR">
        <Directory Id="VS2010ItemTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2010ItemTemplatesCSharpWPFDir" Name="WPF">
            <Directory Id="VS2010ItemTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2010ItemTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Visual Studio 2010 Express Templates -->
      
      <Directory Id="VCSHARP2010EXPRESS_PROJECTTEMPLATES_DIR">
        <Directory Id="VS2010ExpressCSharpProjectTemplatesEnDir" Name="1033"/>
        <Directory Id="VS2010ExpressCSharpProjectTemplatesRuDir" Name="1049"/>
      </Directory>
      <Directory Id="VCSHARP2010EXPRESS_ITEMTEMPLATES_DIR">
        <Directory Id="VS2010ExpressCSharpItemTemplatesEnDir" Name="1033"/>
        <Directory Id="VS2010ExpressCSharpItemTemplatesRuDir" Name="1049"/>
      </Directory>
      
      <!-- Visual Studio 2012 Templates -->
      
      <Directory Id="VS2012_PROJECTTEMPLATES_DIR">
        <Directory Id="VS2012ProjectTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012ProjectTemplatesCSharpWindowsDir" Name="Windows">
            <Directory Id="VS2012ProjectTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012ProjectTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2012_ITEMTEMPLATES_DIR">
        <Directory Id="VS2012ItemTemplatesCSharpDir" Name="CSharp">
          <Directory Id="VS2012ItemTemplatesCSharpWPFDir" Name="WPF">
            <Directory Id="VS2012ItemTemplatesEnDir" Name="1033"/>
            <Directory Id="VS2012ItemTemplatesRuDir" Name="1049"/>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Binaries -->
      
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProgramFilesDir" Name="$(var.SDKName)">
          <Directory Id="InstallNETFXDir" Name="$(var.FrameworkName)">
            <Directory Id="APPLICATIONFOLDER" Name="$(var.SDKVersion)">
              <Directory Id="InstallCodeContractsDir" Name="CodeContracts"/>
              <Directory Id="InstallDesignDir" Name="Design">
                <Directory Id="InstallDesignResourcesEnDir" Name="en"/>
              </Directory>
              <Directory Id="InstallResourcesEnDir" Name="en"/>
              <Directory Id="InstallResourcesRuDir" Name="ru"/>
              <Directory Id="InstallTestDir" Name="Test"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Shortcuts -->
        
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataMicrosoftDir" Name="Microsoft">
          <Directory Id="CommonAppDataMicrosoftWindowsDir" Name="Windows">
            <Directory Id="AllUsersStartMenuDir" Name="Start Menu">
              <Directory Id="AllUsersStartMenuProgramsDir" Name="Programs">
                <Directory Id="AllUsersShortcutsSDKDir" Name="$(var.SDKName)">
                  <Directory Id="AllUsersShortcutsNETFXDir" Name="$(var.FrameworkName)">
                    <Directory Id="AllUsersShortcutsDir" Name="$(var.SDKVersion)"/>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    
    </Directory>

    <DirectoryRef Id="APPLICATIONFOLDER">
      
      <!-- Prerequisites -->
        
      <Component Id="Prerequisites.Microsoft.Expression.Drawing" Guid="B0004C94-38E9-4587-AFE0-DF15D40ECD8D">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Documentation" Guid="57DCA4BA-8825-4E30-922E-B301124A21FB">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      <Component Id="Prerequisites.Microsoft.Windows.Shell" Guid="7435578F-C5D2-4241-9172-870CF87AC33F">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Windows.Shell.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Windows.Shell.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Prerequisites.Microsoft.Windows.Shell.Documentation" Guid="387A868E-1193-430B-AF2A-78617E7A09B1">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Windows.Shell.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      
      <!-- Core -->
        
      <Component Id="Core" Guid="31C629CC-D2C5-42BC-858E-BEF09397182D">
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Core.Documentation" Guid="458FF7A2-2EB2-432A-B4EE-57C1C16DCF06">
        <File Source="$(var.DocumentationFolder)\en\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      
      <!-- Notifications -->
        
      <Component Id="Notifications" Guid="16552642-2FDC-4EF2-B049-0C8C571E8EB5">
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.Notifications.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\Elysium.Notifications.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Notifications.Documentation" Guid="CC154CEF-C35D-408A-93D5-5DEEE2078D80">
        <File Source="$(var.DocumentationFolder)\en\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Server" Guid="8597813A-1C9A-4BD6-942B-FC7D71153BB2">
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Notifications.Server.exe" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Notifications.Server.exe.config" Checksum="yes" KeyPath="no" Vital="yes"/>
        <ServiceInstall Type="ownProcess"
                        Vital="yes"
                        Name="ElysiumNotifications1.5.16.0"
                        DisplayName="Elysium Notifications"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Interactive="no"/>
        <ServiceControl Id="ElysiumNotifications" Name="ElysiumNotifications1.5.16.0" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes"/>
      </Component>
      
      <!-- Visual Studio registration -->
        
      <Component Id="VisualStudio.Registration" Guid="324F04C0-3673-4BC7-AA62-AB3945626545">
        <?if $(sys.BUILDARCH) = x64 ?>
          <RegistryValue Root="HKLM" Key="SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\Elysium" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes"/>
        <?else ?>
          <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\Elysium" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes"/>
        <?endif ?>
      </Component>
    
    </DirectoryRef>
    
    <!-- Design -->
      
    <DirectoryRef Id="InstallDesignDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Design" Guid="06AAA438-5375-4204-8F25-5AF3CCB9F57A">
        <File Source="$(var.AssemblyDependenciesFolder)\Design\Microsoft.Expression.Drawing.Design.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="InstallDesignResourcesEnDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Design.Resources.En" Guid="04D47C5B-C2A7-4FCF-9AE1-7938915C4EA2">
        <File Source="$(var.AssemblyDependenciesFolder)\Design\en\Microsoft.Expression.Drawing.Design.resources.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Code Contracts -->
      
    <DirectoryRef Id="InstallCodeContractsDir">
      <Component Id="Core.CodeContracts" Guid="E516CF50-6764-420B-96E9-4A1E6ECBECFB">
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Contracts.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Contracts.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
      <Component Id="Notifications.CodeContracts" Guid="F13974DB-2B2D-4F3D-B1E7-E21B81DAB707">
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Notifications.Contracts.dll" Checksum="yes" KeyPath="yes" Vital="yes"/>
        <File Source="$(var.AnyCPUDebugFolder)\CodeContracts\Elysium.Notifications.Contracts.pdb" Checksum="yes" KeyPath="no" Vital="no"/>
      </Component>
    
    </DirectoryRef>
    
    <!-- English resources -->
    
    <DirectoryRef Id="InstallResourcesEnDir">
      <Component Id="Prerequisites.Microsoft.Expression.Drawing.Documentation.En" Guid="EB84204F-61A0-4468-BA95-13544EEF370E">
        <File Id="Microsoft.Expression.Drawing.en.xml" Source="$(var.AssemblyDependenciesFolder)\en\Microsoft.Expression.Drawing.xml" Checksum="yes" KeyPath="yes" Vital="no"/>
      </Component>
      <Component Id="Core.Documentation.En.CHM" Guid="7A32188C-98AE-47F8-A8FF-B7DE9AA5CB19">
        <File Id="Elysium.en.chm"  Source="$(var.DocumentationFolder)\en\Elysium.chm" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Core.Documentation.En.XML" Guid="EBAE6F86-78F3-465A-ABD5-2BBD03B928ED">
        <File Id="Elysium.en.xml" Source="$(var.DocumentationFolder)\en\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Documentation.En" Guid="699E9C85-C9F0-4269-9C7F-4071D1EB15C3">
        <File Id="Elysium.Notifications.en.xml" Source="$(var.DocumentationFolder)\en\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Documentation.En.Shortcut.Registration" Guid="693E82D8-3929-4C3C-B3CE-7C6F0059F077">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Documentation.En.Shortcut"
                  Name="Elysium English documentation"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallResourcesEnDir]en\Elysium.chm"/>
        <RemoveFolder Id="AllUsersShortcutsDir_B1562AFE5EEE418C877046E035331538" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Documentation" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Russian resources -->
    
    <DirectoryRef Id="InstallResourcesRuDir">
      <Component Id="Core.Documentation.Ru.CHM" Guid="FC5792DF-6844-417C-BACA-C7F6BACA9653">
        <File Id="Elysium.ru.chm"  Source="$(var.DocumentationFolder)\ru\Elysium.chm" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Core.Documentation.Ru.XML" Guid="2B7C28C3-56C0-43DE-B0C8-12ECDC13F905">
        <File Id="Elysium.ru.xml" Source="$(var.DocumentationFolder)\ru\Elysium.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Notifications.Documentation.Ru" Guid="E7D4059D-FC33-470B-A254-1E5A2608C354">
        <File Id="Elysium.Notifications.ru.xml"  Source="$(var.DocumentationFolder)\ru\Elysium.Notifications.xml" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
      <Component Id="Documentation.Ru.Shortcut.Registration" Guid="FE4DF21B-8753-4540-90D8-E31E2D26FE2C">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Documentation.Ru.Shortcut"
                  Name="Elysium Russian documentation"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallResourcesRuDir]Elysium.chm"/>
        <RemoveFolder Id="AllUsersShortcutsDir_E6F565541FE34089A199AF2C4A6823A3" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Documentation" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2010 Project templates -->
    
    <DirectoryRef Id="VS2010ProjectTemplatesEnDir">
      <Component Id="VisualStudio.2010.ProjectTemplates.Registration.En" Guid="75E63761-7C62-4B83-92F4-E00C44D6E424" Transitive="yes">
        <Condition>
          <![CDATA[VS2010DEVENV AND VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2010_PROJECTTEMPLATES_DIR AND VS2010_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2010.ProjectTemplates.CSharp.1033" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2010\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2010ProjectTemplatesRuDir">
      <Component Id="VisualStudio.2010.ProjectTemplates.Registration.Ru" Guid="BB19AC1D-C7CB-4766-8E5A-D4808062A529" Transitive="yes">
        <Condition>
          <![CDATA[VS2010DEVENV AND VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2010_PROJECTTEMPLATES_DIR AND VS2010_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2010.ProjectTemplates.CSharp.1049" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2010\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2010 Item templates -->
    
    <DirectoryRef Id="VS2010ItemTemplatesEnDir">
      <Component Id="VisualStudio.2010.ItemTemplates.Registration.En" Guid="F9EC916F-71E2-451C-9398-11F69B5F7F57" Transitive="yes">
        <Condition>
          <![CDATA[VS2010DEVENV AND VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2010_ITEMTEMPLATES_DIR AND VS2010_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2010.ItemTemplates.CSharp.1033" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2010\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2010ItemTemplatesRuDir">
      <Component Id="VisualStudio.2010.ItemTemplates.Registration.Ru" Guid="DDA72333-C62D-485E-BBDC-91121CC44054" Transitive="yes">
        <Condition>
          <![CDATA[VS2010DEVENV AND VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2010_ITEMTEMPLATES_DIR AND VS2010_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2010.ItemTemplates.CSharp.1049" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2010\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio C# Express 2010 Project templates -->
    
    <DirectoryRef Id="VS2010ExpressCSharpProjectTemplatesEnDir">
      <Component Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.Registration.En" Guid="EB54032D-4412-4D9F-A6DC-6AA03C1B77F9" Transitive="yes">
        <Condition>
          <![CDATA[VCSHARP2010EXPRESS_IDE AND VCSHARP2010EXPRESS_PROJECTTEMPLATES_DIR AND VCSHARP2010EXPRESS_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.1033" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2010\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2010ExpressCSharpProjectTemplatesRuDir">
      <Component Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.Registration.Ru" Guid="A8F0E6C1-D827-4B8F-95A5-CE6F3B86B193" Transitive="yes">
        <Condition>
          <![CDATA[VCSHARP2010EXPRESS_IDE AND VCSHARP2010EXPRESS_PROJECTTEMPLATES_DIR AND VCSHARP2010EXPRESS_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2010.Express.CSharp.ProjectTemplates.1049" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2010\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio C# Express 2010 Item templates -->
      
    <DirectoryRef Id="VS2010ExpressCSharpItemTemplatesEnDir">
      <Component Id="VisualStudio.2010.Express.CSharp.ItemTemplates.Registration.En" Guid="C4AC1A6D-7F02-43C7-9913-D320AE26A227" Transitive="yes">
        <Condition>
          <![CDATA[VCSHARP2010EXPRESS_IDE AND VCSHARP2010EXPRESS_ITEMTEMPLATES_DIR AND VCSHARP2010EXPRESS_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2010.Express.CSharp.ItemTemplates.1033" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2010\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2010ExpressCSharpItemTemplatesRuDir">
      <Component Id="VisualStudio.2010.Express.CSharp.ItemTemplates.Registration.Ru" Guid="346A5D60-F98F-4404-9B6F-C7E15A97CEA1" Transitive="yes">
        <Condition>
          <![CDATA[VCSHARP2010EXPRESS_IDE AND VCSHARP2010EXPRESS_ITEMTEMPLATES_DIR AND VCSHARP2010EXPRESS_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2010.Express.CSharp.ItemTemplates.1049" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2010\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2012 Project templates -->
    
    <DirectoryRef Id="VS2012ProjectTemplatesEnDir">
      <Component Id="VisualStudio.2012.ProjectTemplates.Registration.En" Guid="236BDA0C-97D2-4055-9DDB-1AA399E521B4">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_PROJECTTEMPLATES_DIR AND VS2012_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2012.ProjectTemplates.CSharp.1033" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012ProjectTemplatesRuDir">
      <Component Id="VisualStudio.2012.ProjectTemplates.Registration.Ru" Guid="D0B1457D-2C12-46BE-BED4-68793FCEAC23" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_PROJECTTEMPLATES_DIR AND VS2012_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2012.ProjectTemplates.CSharp.1049" Name="WPFMetroApplication.zip" Source="$(var.ProjectTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Visual Studio 2012 Item templates -->
    
    <DirectoryRef Id="VS2012ItemTemplatesEnDir">
      <Component Id="VisualStudio.2012.ItemTemplates.Registration.En" Guid="B32932EF-C57D-402A-9596-1384246630B8" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_ITEMTEMPLATES_DIR AND VS2012_IDE_LCID_1033]]>
        </Condition>
        <File Id="VisualStudio.2012.ItemTemplates.CSharp.1033" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1033.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS2012ItemTemplatesRuDir">
      <Component Id="VisualStudio.2012.ItemTemplates.Registration.Ru" Guid="0BD07789-F741-4455-93F2-FF35160FA46A" Transitive="yes">
        <Condition>
          <![CDATA[VS2012DEVENV AND VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2012_ITEMTEMPLATES_DIR AND VS2012_IDE_LCID_1049]]>
        </Condition>
        <File Id="VisualStudio.2012.ItemTemplates.CSharp.1049" Name="WPFMetroWindow.zip" Source="$(var.ItemTemplatesFolder)\Visual Studio 2012\CSharp\1049.zip" Checksum="yes" KeyPath="yes" Vital="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Test app -->
      
    <DirectoryRef Id="InstallTestDir">
      <Component Id="Test.Microsoft.Expression.Drawing" Guid="E63C5DF6-2E19-4D72-A3DE-250A43AA00FF">
        <File Id="Microsoft.Expression.Drawing.Test.dll" Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Microsoft.Windows.Shell" Guid="73FEC9B5-1705-4581-B206-844641D924A5">
        <File Id="Microsoft.Windows.Shell.Test.dll" Source="$(var.AssemblyDependenciesFolder)\Microsoft.Windows.Shell.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Microsoft.Windows.Shell.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Microsoft.Windows.Shell.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Elysium" Guid="D2734950-A732-46F6-B0EC-D77B749DAD81">
        <File Id="Elysium.Test.dll" Source="$(var.AnyCPUReleaseFolder)\Elysium.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Elysium.Notifications" Guid="CB2F785F-CA67-4233-B8BD-A0AD14CAB2DC">
        <File Id="Elysium.Notifications.Test.dll" Source="$(var.AnyCPUReleaseFolder)\Elysium.Notifications.dll" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test" Guid="6CD9B6B3-D66A-4C1C-BBAB-3B7C78633E79">
        <File Source="$(var.PlatformReleaseFolder)\Elysium.Test.exe" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Test.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?else ?>
            <netfx:NativeImage Id="Test.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallTestDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Test.Shortcut.Registration" Guid="0EA43429-FCFE-451E-8947-E975F3809A2F">
        <CreateFolder Directory="AllUsersShortcutsDir"/>
        <Shortcut Id="Test.Shortcut"
                  Name="Elysium Test app"
                  Directory="AllUsersShortcutsDir"
                  Target="[InstallTestDir]Elysium.Test.exe"/>
        <RemoveFolder Id="AllUsersShortcutsDir_45AFE82DA4174979867CD563755FD94D" Directory="AllUsersShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\Elysium" Type="string" Name="Test app" Value="true" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  
  </Product>

</Wix>