<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elysium.Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elysium.Platform.Properties.Settings>
            <setting name="AccentColor" serializeAs="String">
                <value>4280000994</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompositionAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </Elysium.Platform.Properties.Settings>
    </userSettings>
</configuration>