<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include RuntimeVariables.wxi ?>

  <Product Id="9107D6A4-0E2F-479F-8E43-36E1A1D485EA"
           Name="$(var.RuntimeName) for $(var.FrameworkName)" Manufacturer="Alex F. Sherman and Codeplex Community" Language="0"
           Version="$(var.RuntimeVersion).$(var.RuntimeBuild).$(var.RuntimeRevision)" UpgradeCode="EDED61A2-8351-4C88-8A2A-79E6000E6A9E">

    <Package InstallerVersion="200" Platform="$(sys.BUILDARCH)"
             InstallPrivileges="elevated" InstallScope="perMachine"
             Compressed="yes"/>

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

    <!-- Features -->
      
    <Feature Id="Elysium" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install" Absent="disallow">
      <ComponentGroupRef Id="Prerequisites"/>
      <ComponentRef Id="Core"/>
    </Feature>
    
    <Feature Id="Notifications" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install">
      <ComponentGroupRef Id="Notifications"/>
    </Feature>

    <!-- Prerequisites components -->
    
    <ComponentGroup Id="Prerequisites">
      <ComponentRef Id="Prerequisites.Microsoft.Expression.Drawing"/>
    </ComponentGroup>

    <!-- Notifications components -->
    
    <ComponentGroup Id="Notifications">
      <ComponentRef Id="Notifications"/>
      <ComponentRef Id="Notifications.Server"/>
    </ComponentGroup>
    
    <!-- Files and folders -->
    
    <Media Id="1" Cabinet="Elysium.cab" EmbedCab="yes" CompressionLevel="high"/>
    
    <!-- Directories -->
      
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProgramFilesDir" Name="$(var.RuntimeName)">
          <Directory Id="InstallNETFXDir" Name="$(var.FrameworkName)">
            <Directory Id="InstallDir" Name="$(var.RuntimeVersion)"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="InstallDir">

      <!-- Prerequisites -->

      <Component Id="Prerequisites.Microsoft.Expression.Drawing" Guid="64AD657A-8E1E-4016-94D0-AD68516C2E31">
        <File Source="$(var.AssemblyDependenciesFolder)\Microsoft.Expression.Drawing.dll" Assembly=".net" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?else ?>
            <netfx:NativeImage Id="Microsoft.Expression.Drawing.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?endif ?>
        </File>
      </Component>

      <!-- Core -->

      <Component Id="Core" Guid="62F5CE3D-38C9-4EC2-BA65-FDD4F9F6F385">
        <File Source="$(var.SourceFolder)\Elysium.dll" Assembly=".net" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?endif ?>
        </File>
      </Component>

      <!-- Notifications -->

      <Component Id="Notifications" Guid="4BCEFF6F-764D-4B6C-A32D-4A8362AEC923">
        <File Source="$(var.SourceFolder)\Elysium.Notifications.dll" Assembly=".net" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.Notifications.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?endif ?>
        </File>
      </Component>
      <Component Id="Notifications.Server" Guid="16B0947A-2C87-440A-B1A8-392C4275A610">
        <File Source="$(var.PlatformSourceFolder)\Elysium.Notifications.Server.exe" Checksum="yes" KeyPath="yes" Vital="yes">
          <?if $(sys.BUILDARCH) = x64 ?>
            <netfx:NativeImage Id="Elysium.Notifications.Server.NativeImage" Platform="64bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?else ?>
            <netfx:NativeImage Id="Elysium.Notifications.Server.NativeImage" Platform="32bit" Priority="1" AppBaseDirectory="InstallDir"/>
          <?endif ?>
        </File>
        <File Source="$(var.PlatformSourceFolder)\Elysium.Notifications.Server.exe.config" Checksum="yes" KeyPath="no" Vital="yes"/>
        <ServiceInstall Type="ownProcess"
                        Vital="yes"
                        Name="ElysiumNotifications-v1.5.31.0-v4.5"
                        DisplayName="Elysium Notifications"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Interactive="no"/>
      </Component>
    </DirectoryRef>
    
  </Product>

</Wix>
